.categories-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    align-items: stretch;
}

.categories-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 25px 20px;
    color: white;
    border-radius: 20px;
    background-color: #d4dfc7;
    box-sizing: border-box;
    height: 100%;
}

.categories-card p {
    font-size: 1.2rem;
}

.categories-card img {
    border-radius: 10px;
    max-height: 150px;
    object-fit: cover;
}